[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.1.5"
djangorestframework = "==3.15.2"
djangorestframework-simplejwt = "~=5.4.0"

[dev-packages]
django-stubs = "~=5.1"

[requires]
python_version = "3.12"
